STRIPE_SECRET_KEY=sk_test_REEMPLAZAR
STRIPE_PREMIUM_PRICE_ID=price_REEMPLAZAR
STRIPE_WEBHOOK_SECRET=whsec_REEMPLAZAR
PUBLIC_SITE_URL=http://localhost:3000
TELEGRAM_PREMIUM_INVITE_URL=https://t.me/+REEMPLAZAR
# Alternativa a STRIPE_SECRET_KEY y STRIPE_PREMIUM_PRICE_ID:
# STRIPE_PAYMENT_LINK_URL=https://buy.stripe.com/REEMPLAZAR
